div.container.pad10
  div.row
    div.col-lg-12.col-md-12.col-sm-12
      ul.list-group.list-inline
        li.list-group-item.grey Total Traffic &nbsp;
          span.graphite.pull-right 3209275
        li.list-group-item.grey Posts &nbsp;
          span.graphite.pull-right 2
        li.list-group-item.grey Comments &nbsp;
          span.graphite.pull-right 15
        li.list-group-item.grey Last Post &nbsp;
          span.graphite.pull-right Dec 13, 2015, Tue 08:32:11
  div.row
    div.col-lg-12.col-md-12.col-sm-12
      div.btn-group
        button.btn.btn-primary Create New Post
    br
    br
  div.row
    div.col-lg-12.col-md-12.col-sm-12
      ul.nav.nav-tabs
        li.active
          a(href="") Posts &nbsp;
            span.label.label-danger 3 
        li
          a(href="") Sites &nbsp;
            span.label.label-success 2
  div.row
    br
    div.col-lg-12.col-md-12.col-sm-12
      div.list-group
        a.list-group-item(href="")
          h3.list-group-item-heading New Money from Old School
          small.date.list-group-item-text Dec 13, 2015, Tue 08:32:11
          p.list-group-item-text.padtb8 hello today's blog small snippet of data from the blog, no more than xxx lines...
          button.btn.btn-default.btn-xs 3352
            span.fa.fa-bar-chart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 12
            span.fa.fa-heart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 3
            span.fa.fa-comment-o.fa-fw.pull-left
        a.list-group-item(href="")
          h3.list-group-item-heading NBA and China &nbsp;
          small.date.list-group-item-text Dec 13, 2015, Tue 08:32:11
          p.list-group-item-text.padtb8 hello today's blog
          button.btn.btn-default.btn-xs 934
            span.fa.fa-bar-chart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 12
            span.fa.fa-heart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 3
            span.fa.fa-comment-o.fa-fw.pull-left
        a.list-group-item(href="")
          h3.list-group-item-heading Ballers and Shot Callers, You Heard? &nbsp;
          small.date.list-group-item-text Dec 13, 2015, Tue 08:32:11
          p.list-group-item-text.padtb8 hello today's blog, star dwayne johnson, otherwise known as the rock
          button.btn.btn-default.btn-xs 23623
            span.fa.fa-bar-chart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 0
            span.fa.fa-heart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 347
            span.fa.fa-comment-o.fa-fw.pull-left
  div.row
    div.row
    div.col-lg-12.col-md-12.col-sm-12
      ul.nav.nav-tabs
        li
          a(href="") Posts &nbsp;
            span.label.label-danger 3 
        li.active
          a(href="") Sites &nbsp;
            span.label.label-success 2
  div.row
    br
    div.col-lg-12.col-md-12.col-sm-12
      div.list-group
        a.list-group-item(href="")
          h3.list-group-item-heading stephenhu.github.io
          button.btn.btn-default.btn-xs 346902
            span.fa.fa-bar-chart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 82
            span.fa.fa-newspaper-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 3
            span.fa.fa-comment-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs Oct 28, 2015, Fri 21:09:03
            span.fa.fa-calendar.fa-fw.pull-left            
        a.list-group-item(href="")
          h3.list-group-item-heading ballerheart.com
          button.btn.btn-default.btn-xs 23606902
            span.fa.fa-bar-chart-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 11
            span.fa.fa-newspaper-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs 3
            span.fa.fa-comment-o.fa-fw.pull-left
          button.btn.btn-default.btn-xs Dec 13, 2015, Tue 08:32:11
            span.fa.fa-calendar.fa-fw.pull-left            
