doctype html
html
  head
    title Uhlelo
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/intermezzo.css')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/javascripts/config.js")
    script(src="/javascripts/intermezzo.js")
  body
    block content