doctype html
html
  head
    title Intermezzo
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/intermezzo.css')
  body
    block content