div.navbar.navbar-default.navbar-fixed-bottom
  div.container
    div.navbar-header
      a.navbar-brand(href="/")
        small Intermezzo
    ul.nav.navbar-nav
      li.active
        a(href="/home")
          span.fa.fa-home.fa-fw
      li
        a(href="/sites")
          span.fa.fa-sitemap.fa-fw
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/profile")
          span.fa.fa-wrench.fa.fw
      li
        a(href="/signout")
          span.fa.fa-sign-out.fa.fw
         