block content
  div.container
    br
    div.row
      div.col-lg-12.col-md-12.col-sm-12
        h2 Sites
      div.col-lg-4.col-md-4.col-sm-4
        a.thumbnail(href="")
          img(src="/images/holder.svg", width="128")
          div.caption
            h3 nba.com
      div.col-lg-4.col-md-4.col-sm-4
        a.thumbnail(href="")
          img(src="/images/holder.svg", width="128")
          div.caption
            h3 stephenhu.info
      div.col-lg-4.col-md-4.col-sm-4
        a.thumbnail(href="")
          img(src="/images/holder.svg", width="128")
          div.caption
            h3 intermezzo
