// standard tags

html {
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
}

a, a:visited, a:hover, a:link {
  text-decoration: none;
}

// custom classes

.big {
  font-size: 20em;
}

.grey {
  color: #aaaaaa;  
}

.blue {
  color: #0066ad;
}

.graphite {
  color: #222222;
}

.bgdark {
  background-color: #222222;
  border-radius: 5px;
  color: #ffffff;
}

.padtb8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

// bootstrap overides

